{{#zone "main"}}

	<div class="container container-bg">
        <div class=" margin-top-double">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top  ">
                    <div class="product-wrapper rounded dark-grey center">
                        <div class="icon-wrapper">
                            <img src="{{self.publicURL}}/images/firealarm-thumb.png" >
                        </div>
                        <h2 class="white center">Fire Alarm</h2>
                        <div class="text-wrapper">
                            Connect your FireAlarm into the WSO2 Device Cloud Platform.
                            <br>
                        </div>
                        <a href="#" class="wr-btn grey-btn" onclick="document.location.href='firealarm';
                                                ">Connect</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top  ">
                    <div class="product-wrapper rounded dark-grey center">
                        <div class="icon-wrapper">
                            <img src="{{self.publicURL}}/images/sensebot-thumb.png" >
                        </div>
                        <h2 class="white center">SenseBot</h2>
                        <div class="text-wrapper">
                            Connect your SenseBot into the WSO2 Device Cloud Platform.
                            <br>
                        </div>
                        <a href="#" class="wr-btn grey-btn" onclick="document.location.href='sensebot';
                                                ">Connect</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top  ">
                    <div class="product-wrapper rounded dark-grey center">
                        <div class="icon-wrapper">
                            <img src="{{self.publicURL}}/images/digitaldisplay-thumb.png" >
                        </div>
                        <h2 class="white center">Digital Display</h2>
                        <div class="text-wrapper">
                            Connect your Digital Display into the WSO2 Device Cloud Platform.
                            <br>
                        </div>
                        <a href="#" class="wr-btn grey-btn" onclick="document.location.href='digitaldisplay';
                                                ">Connect</a>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top  ">
                    <div class="product-wrapper rounded dark-grey center">
                        <div class="icon-wrapper">
                            <img src="{{self.publicURL}}/images/arduino-thumb.png" >
                        </div>
                        <h2 class="white center">ArduinoUno</h2>
                        <div class="text-wrapper">
                            Connect your ArduinoUno into the WSO2 Device Cloud Platform.<br>
                        </div>
                        <a href="#" class="wr-btn grey-btn" onclick="document.location.href='arduino';
                        ">Connect</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top  ">
                    <div class="product-wrapper rounded dark-grey center">
                        <div class="icon-wrapper">
                            <img src="{{self.publicURL}}/images/RaspberryPi.png" >
                        </div>
                        <h2 class="white center">RaspberryPi</h2>
                        <div class="text-wrapper">
                            Connect your RaspberryPi into the WSO2 Device Cloud Platform.<br>
                        </div>
                        <a href="#" class="wr-btn grey-btn">Connect</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top ">
                    <div class="product-wrapper rounded dark-grey center">
                        <div class="icon-wrapper">
                            <img src="{{self.publicURL}}/images/beagleBone.png" >
                        </div>
                        <h2 class="white center">BeagleBone</h2 >
                        <div class="text-wrapper">
                            Connect your BeagleBone into the WSO2 Device Cloud Platform.<br>
                        </div>
                        <a href="#" class="wr-btn grey-btn">Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/zone}}
